.my_blocker {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%; height: 100%;
  overflow: auto;
  z-index: 150;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.5);
}
.my_blocker:before{
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.05em;
}
.my_blocker.behind {
  background-color: transparent;
}

.my_modal_explanation {
	background-color:#848484;
	color:#F3F3F3;
	border:1px solid #D3D3D3;
	text-align:left;
	padding:16px;
	font-weight:bold;
	max-width:240px;
}
.my_modal {
  display: inline-block;
  position: absolute;
  z-index: 151;
}

.scenario_controller{
	min-height:40px;
	max-height:200px;
	min-width:200px;
	background-color:rgba(255, 255, 255, 0.9);
	border-radius: 8px;
	padding:10px 10px 10px 20px;
	position:fixed;
	bottom:3px;
	left:24px;
}
#tooltip{
        position:absolute;
        border:1px solid #333;
        background:#f7f5d1;
        padding:3px;
        color:#333;
        display:none;
        z-index:20;
}
.func:hover{
	background: #BBB;
}
.focus{
	background: none;
	padding:3px 3px 0px 7px;
}
.focus:hover{
	background-image: linear-gradient(#ccc,#ddd);
	padding:1px 5px 4px 4px;
	border: 1px solid #bbb;
	border-bottom: 0px solid #ddds;
}
.bentable-style1 td{
	padding:5px 8px;
}
.bentable-style1.nobreak td{
	word-break:keep-all;
}
.ui-dialog-content{
	font-family: "·L³n¥¿¶ÂÅé", "Microsoft JhengHei", 'LiHei Pro', Arial, Helvetica, sans-serif, \5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4;
}
